* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    height: 100%;
}

/*Inherit fonts for form controls*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

header{
    text-align: center;
    margin: 1em 0;
}


main {
    max-width: 1000px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

}

.card{
    outline: 1px solid black;
    padding: .2em .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.card img{
    height: 150px;
    width: auto;
    margin-bottom: .5em;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}